
#main {
    height: 100%;
    width: 100%;
}
div.header {
    background-color: #e5e5e5;
    height: 76px;
    margin-left: -7px;
    margin-top: -20px;
    width: 100%;
}
div h2 {
    margin-left: 60px;
    padding-top: 19px;
}
.nav  ul li {
    background-color: #cecece;
    height: 41px;
   
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border-right: 1.5px solid #bbb;
    display: inline;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 10px;
}
li {
    border-right: 1.5px solid #bbb;
    display: inline;
}*/
li a {
    color: black;
    display: inline;
    font-family: serif;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
}
.sections {
    float: left;
    margin-right: 5%;
    width: 30%;
}
.sections-last{
	margin:0;
}
p {
    margin-top: -5px;
}
h3 {
    margin-bottom: 10px;
}
.empty {
    clear: both;
    width: 100%;
}
img {
    margin-left: 46px;
    padding-top: 30px;
    max-width: 100%;
    max-height: 100%
}
.sectionMargin {
    margin-left: 45px;
}
.leftContent {
    float: left;
    margin-top: 35px;
    width: 63%;
}
.rightContent {
    float: right;
    margin-right: 79px;
    margin-top: 44px;
}
.footer {
    background-color: #212121;
    clear: both;
    color: white;
    font-size: 13px;
    height: 45px;
    margin-left: -8px;
    width: 100%;
    text-align: center;
    padding-top: 17px;
    
}
.content1 {
    background-color: #93d9ed;
    height: 134px;
    width: 367px;
}
.content2 {
    background-color: #e8dc70;
    height: 134px;
    width: 367px;
    margin-top: 10px;
}
.content3 {
    background-color: #e8dc70;
    height: 134px;
    margin-top: 10px;
    width: 367px;
    margin-bottom: 13px;
}
.contentMargin {
    color: black;
    font-size: 12px;
    margin-left: 14px;
    padding-top: -7px;
}
h4 {
    margin-left: 14px;
    margin-bottom: 12px;
}

